.hero {
  background-color: #f6f8fb;
}

h2 {
  color: #2687e9;
}

.footer {
  background-color: #f6f8fb;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #2687e9;
}

@media( max-width: 480px ) {
  code {
    font-size: .875rem;
  }
}