body {
  font-size: 16px;
}

h1, h2, h3 {
  margin-top: 30px;
  margin-bottom: 14px;
}

code {
  font-size: 16px;
}

/* ==========================================================================
   Overrides of CSS ContaAzul framwork
   ========================================================================== */

.table-default {
  margin-bottom: 44px;
}

.table-default tbody tr:hover {
  cursor: auto;
}

.doc-grid {
  width: 100%;
  max-width: 790px;
  margin: 0 auto;
}

.box-grouping-header h2 {
  margin: 0;
  background: #f1f4f9;
}

.box-grouping-content,
.box-grouping  {
  background-color: #ffffff;
}

.gh-buttons {
  width: 335px;
  margin: 0 auto;
  margin-top: 10px;
}

.gh-buttons > iframe:first-child {
  margin-right: 10px;
}

/* ==========================================================================
   `.ccjs` is CreditCardJS
   ========================================================================== */

.ccjs-background {
  background: #f1f4f9;
  border-bottom: 1px solid #dddddd;
  color: #ffffff;
}

  .ccjs-background a {
    color: #ffffff;
  }

.ccjs-banner {
  margin-bottom: 44px;
  padding: 40px 20px;
  text-align: center;
}

  @media all and (min-width: 620px) {
     .ccjs-banner {
       padding: 10% 20px;
     }
   }

.ccjs-banner h1 {
  color: #3e84ca;
  font-size: 44px;
}

.ccjs-banner h2 {
  color: #9fa2a7;
  font-size: 24px;
}

.ccjs-banner-image {
  display: block;
  max-width: 280px;
  margin: 0 auto;
}

.ccjs-footer {
  margin-top: 44px;
  padding: 34px;
  border-bottom: 1px solid #dddddd;
  color: #9fa2a7;
  text-align: center;
}

  .ccjs-footer a {
    color: #385a7b;
  }

  .ccjs-footer p {
    margin-bottom: 0;
  }

.ccjs-browser-logo {
  display: block;
  max-width: 50px;
  margin: 0 auto;
  margin-bottom: 12px;
}
