name: Build Check

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
          node-version: '12.x'
    - name: Install dependencies   
      run: yarn
    - name: Run lint
      run: yarn lint
    - name: Run test and check coverage
      run: yarn run cov